<template>
    <form>
         <section class="row">
            <div class="col-4">
                <h3 class="mt-4">Details</h3>
            </div>
            <div class="col">
                <otm-application-details
                    :application="application.details"
                    :data-app-types="types"
                    :data-property-managers="dataPropertyManagers"
                    :data-business-abn="dataBusinessAbn"
                    :data-business-name="dataBusinessName"
                    v-on:update-details="updateDetails"
                ></otm-application-details>
            </div>
        </section>

         <section class="row">
            <div class="col-4">
                <h3 class="mt-4 display-inline-block">Applicants</h3>
                <a class="btn btn-sm btn-primary ml-2 mb-1" href="#" @click.prevent="addApplicant()">Add another applicant</a>
            </div>
            <div class="col">
                <otm-application-applicant 
                    v-for="(applicant, key) in application.applicants"
                    :key="applicant.id"
                    :data-applicant="applicant"
                    v-on:remove-applicant="removeApplicant(key)"
                    v-on:update-applicant="updateApplicant"
                ></otm-application-applicant>
            </div>
        </section>
        
        <section class="row">
            <div class="col offset-4">
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <label class="custom-control custom-checkbox custom-control-inline">
                            <input class="custom-control-input" type="checkbox" name="contact_consent_given" id="contact_consent_given" v-model="application.contact_consent_given">
                            <span class="custom-control-label w-75">I have gained the applicant(s) consent for On The Move to contact them to facilitate utilties connections<span v-if="isVictorianApplication">, including water connection</span>.
                            </span>
                            
                        </label>
                    </div>
                </div>
                

                <div class="btn-list text-left mt-4">
                    <button class="btn btn-lg btn-success" @click.prevent="completeForm()" v-if="!pending">
                        Submit Application<i class="fe fe-check-circle ml-1"></i>
                    </button>
                    <button disabled="disabled" class="btn btn-lg btn-success cursor-progress" @click.prevent="" v-if="pending">
                        Submitting Application<i class="fe fe-loader fe-spin ml-1"></i> 
                    </button>
                </div>
            </div>
        </section>
        <section class="row mt-6" v-if="hasBackendErrors">
            <div class="col offset-4">
                <div class="alert alert-danger mb-0" role="alert">
                    <p class="mb-2 text-700"><i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i>Please fix these errors</p>
                    <ul class="list-unstyled mb-0">
                        <li v-for="(errorKeys, key) in backEndErrors" :key="key">
                            <p class="mb-0" v-for="(error, index) in errorKeys" :key="index"><i class="fe fe-arrow-right mr-2"></i>{{error}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </form>
</template>


<script>

    import Turbolinks from 'turbolinks';
    import {
        Validator,
        mapFields
    } from "vee-validate";
    import swal from 'sweetalert2';
    //import {UiField, UiOptions} from '../common';
    import uuidv1 from 'uuid/v1';

    export default {
        //extends: UiField,
        props: ['dataAppTypes', 'dataPropertyManagers', 'dataBusinessAbn', 'dataBusinessName'],

        data: function () {
            return {
                application: {
                    details: {},
                    applicants: [],
                    contact_consent_given: true,
                },                
                types: [],
                backEndErrors: {},
                pending: false
            }
        },

        created: function () {
            this.types = this.dataAppTypes;
            this.addApplicant(1, true);
        },
        computed: {
            hasBackendErrors: function() {
                return Object.keys(this.backEndErrors).length !== 0
            },
            isVictorianApplication: function() {
                if(this.application.details.address !== undefined) {
                    return this.application.details.address.split.state === 'VIC'
                }
                return false;
                
            }
        },
        methods: {
            addApplicant: function(index, isPrimary = false) {
                return this.application.applicants.push({
                    id: uuidv1(), 
                    index: this.application.applicants.length + 1,
                    primary: isPrimary
                });
            },
            removeApplicant: function(index) {
                // if object isnt' kinda empty, prompt
          
                if(window.confirm("Are you sure you want to remove?")) { 
                    this.$delete(this.application.applicants, index);
                }
                
            },
            updateApplicant: function(applicant) {
                console.log('updateApplicant()', applicant);
                let index = this.application.applicants.findIndex(app => app.id === applicant.id);
               // console.log(this.application.applicants[index], applicant);
                this.application.applicants[index] = applicant;
                

            },
            updateDetails: function(details) {
                console.log('updateDetails()', details);
                this.application.details = details;
            },

            completeForm: function() {
                this.backEndErrors = {};
                this.pending = true;

                // this.$validator.validateAll().then(result => {
                //     debugger;
                //     if (!result) {
                //     // do stuff if not valid.
                //     }
                // });

                this.$validator.validate().then(result => {
    
                    if (result) {
                        this.submitForm();
                    } else {
                        this.pending = false;
                       
                        swal({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Please fill out the required fields!',
                        });
            }
                    
                });

                
            },
            submitForm: function() {
                axios.post(route('api.v1.application.store'), this.application)
                    .then((response) => {
                        this.pending = false;
                        //debugger;
                        let res = response.data;
                        let sConfig = {
                            type: 'success',
                            title: 'Hooray!',
                            text: res.message,
                            cancelButtonText: "View Application",
                            confirmButtonText: 'Submit another application',
                            reverseButtons: true,
                            showCancelButton: true,
                        }

                        // if the app wasn't submitted synchronously
                        if(!res.sync) {
                             delete sConfig.cancelButtonText;
                             sConfig.showCancelButton = false;
                        }

                        swal(sConfig).then((result) => {
                            if (result.dismiss !== swal.DismissReason.cancel) {
                                Turbolinks.visit(route('agent.application.create'));
                            } else {
                                Turbolinks.visit(route('agent.application.show', res.id));
                            }
                        });
       
                    })
                    .catch((error) => {
                        this.pending = false;
                        //debugger;
                        let response = error.response.data;
                        swal({
                            type: 'error',
                            title: 'Oops...',
                            text: response.message,
                        });
                        this.backEndErrors = response.errors;
                        //debugger;
                        console.error(error);
                    })
                    .finally(() => {
                        this.pending = false;
                    });
            },
        }
    }
</script>
