<template>
    <div>
        <apexcharts width="500" type="area" :options="chartOptions" :series="series"></apexcharts>
        <!-- <vue-frappe
            id="test"
            :labels="[
                'applications',
            ]"
            title="test"
            type="heatmap"
            :height="50"
            :colors="['purple', '#ffa3ef', 'light-blue']"
            :dataSet="[this.data]"
            :start="Date(1426744959)" 
            :end="Date(1476892421)"
            >
        </vue-frappe> -->
    </div>
    
</template>
<script>
    import { Chart } from 'frappe-charts/dist/frappe-charts.min.esm';
    import VueApexCharts from 'vue-apexcharts';

    export default {
        components: {
            apexcharts: VueApexCharts,
        },
        props: {
            // id: {
            //     required: true,
            //     type: String,
            //     default: null
            // },
            // start: {
            //     required: true,
            //     type: Date
            // },

            dataSet: {
                required: true,
                type: Object,
                default: () => {}
            },
            // dataRange: {
            //     required: true,
            //     type: Object,
            //     default: () => {}
            // },

            // labels: {
            //     required: true,
            //     type: Array,
            //     default: () => []
            // },

            // title: {
            //     required: false,
            //     type: String
            // },

            // height: {
            //     required: false,
            //     type: Number,
            //     default: 300
            // },

            // type: {
            //     required: false,
            //     type: String,
            //     default: 'bar'
            // },

            // yMarkers: {
            //     required: false,
            //     type: Array,
            //     default: () => [
            //         {
            //             label: 'Marker',
            //             value: 70,
            //             options: {
            //                 labelPos: 'left'
            //             }
            //         }
            //     ]
            // },

            // yRegions: {
            //     required: false,
            //     type: Array,
            //     default: () => [
            //         {
            //             label: 'Region',
            //             start: -10,
            //             end: 50,
            //             options: {
            //                 labelPos: 'right'
            //             }
            //         }
            //     ]
            // },

            // colors: {
            //     required: false,
            //     type: Array,
            //     default: () => [
            //         'purple', '#ffa3ef', 'light-blue'
            //     ]
            // },

            // isNavigable: {
            //     required: false,
            //     type: Boolean,
            //     default: false
            // },

            // valuesOverPoints: {
            //     required: false,
            //     type: Boolean,
            //     default: false
            // },

            // barOptions: {
            //     required: false,
            //     type: Object,
            //     default: () => {
            //         return {
            //             spaceRatio: 0.5,
            //             stacked: 0
            //         }
            //     }
            // },

            // lineOptions: {
            //     required: false,
            //     type: Object,
            //     default: () => {
            //         return {
            //             dotSize: 4,
            //             hideLine: 0,
            //             hideDots: 0,
            //             heatline: 0,
            //             regionFill: 0,
            //             areaFill: 0
            //         }
            //     }
            // },

            // axisOptions: {
            //     required: false,
            //     type: Object,
            //     default: () => {
            //         return {
            //             yAxisMode: '',
            //             xAxisMode: '',
            //             xIsSeries: 0
            //         }
            //     }
            // },

            // maxLegendPoints: {
            //     required: false,
            //     type: Number,
            //     default: 20
            // },

            // maxSlices: {
            //     required: false,
            //     type: Number,
            //     default: 20
            // },

            // barOptions: {
            //     required: false,
            //     type: Object,
            //     default: () => {
            //         return {
            //             height: 20,
            //             depth: 2
            //         }
            //     }
            // },

            // discreteDomains: {
            //     required: false,
            //     type: Boolean,
            //     default: true
            // },

            // tooltipOptions: {
            //     required: false,
            //     type: Object,
            //     default: () => {
            //         return {
            //             formatTooltipX: d => (d + '').toUpperCase(),
            //             formatTooltipY: d => d + ' pts'
            //         }
            //     }
            // }
        },
        
        data () {
            return {
                chart: null,
                data: {
                    labels: this.labels,
                    dataset: this.dataSet
                },
                chartOptions: {
                    chart: {
                        id: 'vuechart-example',
                        width: '100%',
                        zoom: {
                            enabled: false
                        }
                    },
                    tooltip: {
                        enabled: false
                    },
                    xaxis: {
                        type: 'datetime'
                    }
                },
                series: [{
                    name: 'series-1',
                    data: this.dataSet
                    // data: [
                    //     [1534255200000, 1], 
                    //     [1533564000000, 2], 
                    //     [1533218400000, 4] , 
                    //     [1532959200000, 5], 
                    // ]
                }],
                // {"1534255200000":1,"1533564000000":2,"1533218400000":4,"1532959200000":5}

            }
        },

    
        methods: {
            
        },
        
        created: function () {
            // `this` points to the vm instance
           this.test = this.dataSet.map(() => {

           })
        }
        
    }
</script>