<template>
   <div>
     <apexcharts width="100%" type="bar" :options="chartOptions" :series="series"></apexcharts>
   </div>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts';

export default {
    props: ['seriesXData', 'seriesYData', 'seriesXDataName'],

    components: {
      apexcharts: VueApexCharts,
    },
    data: function() {
      return {
        chartOptions: {
          chart: {
            id: 'vuechart-example',
            toolbar: {
              show: false,
            },
          },
          
          xaxis: {
            categories: this.seriesYData
          }
        },
        series: [{
          name: this.seriesXDataName,
          data: this.seriesXData
        }]
      }
    },
};
</script>