<template>
    <div>
        <div class="form-group">
            <label for="real_estate_agency">Real Estate Agency</label>
            <select name="real_estate_agency" id="real_estate_agency" class="form-control" v-model="real_estate_agency">
                <optgroup :label="group" v-for="(rea, group, index) in inputData.agencies" :key="index">
                    <option v-for="(agency, key) in rea" :key="key" :value="agency.company_id">{{agency.company_name}}</option>
                </optgroup>
            </select>
        </div>

        <div class="form-group">
            <label for="property_manager">Property Manager</label>
            <select name="property_manager" id="property_manager" class="form-control" v-model="property_manager">
                    <option v-for="(agent, key) in this.getAgents" :key="key" :value="agent.id">{{agent.first_name}} {{agent.last_name}}</option>
            </select>
        </div>
    </div>
    
</template>

<script>
    export default {

        props: ['dataAgents', 'dataAgencies'],

        mounted() {
            // console.log('Component mounted.')
        },

        computed: {
            getAgents: function() {
                return this.inputData.agents[this.real_estate_agency];
                // return this.inputData.agents.map((item, key) => {
                //     if(key === real_estate_agency) {
                //         return item;
                //     }
                // }).filter((value, index, array) => array.indexOf(value) === index ).filter(n => n);
            },
        },

        created: function() {
            this.inputData.agencies = this.dataAgencies
            this.inputData.agents = this.dataAgents
 
        },
        data: function() {
            return {
                property_manager: "",
                real_estate_agency: "",
                inputData: {
                    agencies: [],
                    agents: [],
                }
            }
        }
    }
</script>
