.invalid-feedback-override {
    display: block;
}

.is-invalid > #autosuggest__input {
    border-color: $red;
}



// .avatar {
//     height: 25px;
//     width: 25px;
//     border-radius: 20px;
//     margin-right: 10px;
// }

#autosuggest__input {
  
    padding-left: 2.5rem;
    padding-right: 2.5rem;

}

.autosuggest__results-container {
    position: relative;
    width: 100%;
}

.autosuggest__results {
    font-weight: 300;
    margin: 0;
    position: absolute;
    z-index: 10000001;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: white;
    padding: 0px;
    max-height: 400px;
    overflow-y: scroll;
    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }
    .autosuggest__results_item {
        cursor: pointer;
        padding: 15px;
        &.autosuggest__results_item-highlighted {
            background-color: #f6f6f6;
        }
    }
    .autosuggest__results_title {
        color: gray;
        font-size: 11px;
        margin-left: 0;
        padding: 15px 13px 5px;
        border-top: 1px solid lightgray;
        &:active,
        &:hover,
        &:focus {
            background-color: #f6f6f6;
        }
    }
}

#autosuggest ul:nth-child(1)>.autosuggest__results_title {
    border-top: none;
}
