.form-control.flatpickr-input[readonly] {
    background-color: #FFF;
}



.form-control.is-invalid + .flatpickr-input {
    border-color: $red;
}

.flatpickr-months .flatpickr-month {
    height: 45px;
}

.flatpickr-current-month {
    padding: 8px 0 0 0;
    
    .numInputWrapper {
        width: 6.5ch;
    }

    input.cur-year {
        border: 1px solid $gray-300;
        height: 34px;
        padding: 0 0 0 0.5ch;
        border: 1px solid rgba(0, 40, 100, 0.12);
        border-radius: 3px;
        transition: border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;

        &:focus {
            background-color: #fff;
            border-color: #1991eb;
            outline: 0;
            box-shadow: 0 0 0 2px rgba(248, 152, 28, 0.25);
        }
    }


    span.cur-month {
        margin-right: 0.5ch;
    }
    
}

.numInputWrapper span {
    opacity: 1;
}

.flatpickr-day.nextMonthDay {
    color: rgba(64, 72, 72, 0.9);
}
