.footer {
    padding-top: 3rem;
    padding-bottom: 2rem;

    background-color: $brand-onthemove-black;
    color: $white;

    a:not(.btn) {
        color: $brand-onthemove;

        &:hover,
        &:active,
        &:focus {
            color: darken($brand-onthemove, 10%);
        }
    }
}