.font-monospace {
    font-family: $font-family-monospace;
    letter-spacing: 0.05em;
}

.text-strikethrough {
    text-decoration: line-through;
}
.text-underline {
    text-decoration: underline;
}


.text-100 { font-weight: 100; }
.text-200 { font-weight: 200; }
.text-300 { font-weight: 300; }
.text-400 { font-weight: 400; }
.text-500 { font-weight: 500; }
.text-600 { font-weight: 600; }
.text-700 { font-weight: 700; }
.text-800 { font-weight: 800; }
.text-900 { font-weight: 900; }


h1, h2, h3, .h1, .h2, .h3 {
    letter-spacing: -0.04em;
}
h4, h5, h6, .h4, .h5, .h6 {
    letter-spacing: -0.02em;
}

p {
    &.h1,
    &.h2,
    &.h3,
    &.h4,
    &.h5,
    &.h6 {
        font-family: $font-family-base;
    }
}


.fe-spin {
  -webkit-animation: fe-spin 2s infinite linear;
  animation: fe-spin 2s infinite linear;
  display: inline-block;
}

@-webkit-keyframes fe-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fe-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.code-overflow {
    display: inline-block;
    overflow: scroll;
    width: 10rem;
}

.text-black {
    color: #000;
}