.vue-tooltip {
    // color: #fff; // min-width: 120px;
    // max-width: 320px;
    // padding: 6px 10px;
    // border-radius: 3px;
    // z-index: 100;
    box-shadow: none;

}


// Color contrast
@function color-yiq($color) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);

    $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

    @if ($yiq >=$yiq-contrasted-threshold) {
        @return $yiq-text-dark;
    }

    @else {
        @return $yiq-text-light;
    }
}
.form-help {
    color: $gray-800;
}

@each $vendor, $color in $colors {
	.form-help-#{$vendor} {
		background: $color;
        color: #fff;
        
        &:hover,
        &[aria-describedby] {
            background: adjust-hue(saturate(darken($color, 15), 45), 360);
            color: color-yiq($color);
        }
	}
}

@each $vendor, $color in $theme-colors {
	.form-help-#{$vendor} {
		background: $color;
        color: #fff;
                
        &:hover,
        &[aria-describedby] {
            background: adjust-hue(saturate(darken($color, 15), 45), 360);
            color: color-yiq($color);
        }
	}
}