// Variables
@import "variables";
@import 'variables-tabler';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome
@import '~font-awesome/scss/font-awesome';

// Tablar
// @import '~tabler-ui/src/assets/scss/dashboard/dashboard';
@import 'tabler';
@import '~flatpickr/dist/themes/airbnb';
@import 'flatpickr'; // overwrites

@import "~vue-directive-tooltip/src/css/index.scss";
@import "vue-tooltip";


@import 'autocomplete';
@import 'typography';
@import 'footer';


// D3 / C3 charts
///@import '~c3/src/scss/main';


html {
  font-feature-settings: "calt", "case", "ss01" "liga";
}

.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.app-content {
  flex: 1;
}

// this doens't work on IE, revert to normal
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .app-container {
    display: block;

  }
}

.cursor-normal {
  cursor: initial;
}

.cursor-progress {
  cursor: progress;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#map {
  width: 100%;
  height: 500px;
}

.frappe-chart.chart {
  position: inherit;
  padding-top: 0;
}


.state-pending {
  padding-right: 2rem;
 // background-image: str-replace(url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{$text-muted-dark}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-loader'><style>svg,.feather-loader {animation: loading 3s linear infinite;-webkit-transform-origin: center center;-moz-transform-origin: center center;-ms-transform-origin: center center;-o-transform-origin: center center;transform-origin: center center;}@keyframes loading {0% {transform: rotate(0);}100% {transform: rotate(360deg);}</style><line x1='12' y1='2' x2='12' y2='6'></line><line x1='12' y1='18' x2='12' y2='22'></line><line x1='4.93' y1='4.93' x2='7.76' y2='7.76'></line><line x1='16.24' y1='16.24' x2='19.07' y2='19.07'></line><line x1='2' y1='12' x2='6' y2='12'></line><line x1='18' y1='12' x2='22' y2='12'></line><line x1='4.93' y1='19.07' x2='7.76' y2='16.24'></line><line x1='16.24' y1='7.76' x2='19.07' y2='4.93'></line></svg>"), "#", "%23");
  background-image: str-replace(url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{$text-muted-dark}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-loader'><line x1='12' y1='2' x2='12' y2='6'></line><line x1='12' y1='18' x2='12' y2='22'></line><line x1='4.93' y1='4.93' x2='7.76' y2='7.76'></line><line x1='16.24' y1='16.24' x2='19.07' y2='19.07'></line><line x1='2' y1='12' x2='6' y2='12'></line><line x1='18' y1='12' x2='22' y2='12'></line><line x1='4.93' y1='19.07' x2='7.76' y2='16.24'></line><line x1='16.24' y1='7.76' x2='19.07' y2='4.93'></line></svg>"), "#","%23");
  background-repeat: no-repeat;
  background-position: center right 0.5rem;
  background-size: 1rem;
}


@import '~flatpickr/dist/flatpickr.css';


.btn-xs,
.btn-group-xs > .btn {
  font-weight: 500;
  font-size: 0.67rem;
  min-width: 1.25rem;
  padding: 0.1rem 0.3rem;
  line-height: 1.5;
  border-radius: 2px;
}


.display-inline       { display: inline; }
.display-inline-block { display: inline-block; }
.display-block        { display: block; }


