<template>
 

    <div class="form-group" :class="{'col': column}">
            
            <label v-if="label" class="form-label">{{ label }}<span class="form-required" v-if="required">*</span></label>
        
            <flat-pickr
                class="form-control"
                :name="name"
                :placeholder="placeholder"
                :value="value"
                :config="config"
                :events="events"
                v-on:input="updateValue"
                :data-vv-as="validatorLabel ? validatorLabel: label"
                v-validate="{required: required}" 
                :class="{'is-invalid': invalid, 'is-valid': isValid(name)}"
            ></flat-pickr>

            <div v-if="invalid" class="invalid-feedback">{{ errorMessage }}</div>

        </div>

</template>


<script>

    import { Validator } from "vee-validate";
    import moment from 'moment';
    import flatPickr from 'vue-flatpickr-component';

    export default {
        inject: ['$validator'],
        components: {
            flatPickr
        },
        props: {
            config: {
                type: Object,
                default: () => { 
                    return {
                        wrap: true,
                        altFormat: 'd / m / Y',
                        altInput: true,
                        dateFormat: 'Y-m-d',
                        maxDate: "today"
                    }; 
                },
                required: false
            },
            events: {
                type: Array,
                default: () => { 
                    return ['onChange', 'onOpen']; 
                },
                required: false
            },
            label: {
                type: String,
                required: false
            },
            validatorLabel: {
                type: String,
                required: false
            },
            placeholder: {
                type: String,
                required: false
            },
            name: {
                type: String,
                required: true
            },
            required: {
                type: Boolean,
                default: false,
                required: false
            },
            disabled: {
                type: Boolean,
                default: false,
                required: false
            },
            column: {
                type: Boolean,
                default: false,
                required: false
            },
            invalid: {
                type: Boolean,
                default: false,
                required: false
            },
            errorMessage: {
                type: String,
                required: false,
                default: null
            },
            value: {
                type: [String, Number],
                required: false
            },
        },
        data: function() {
            return {
                date: ""
            }
        },
        methods: {
            updateValue: function(value) {
                // so that flatpick emits first.
                //this.$nextTick(function () {
                    this.$emit('input', value);
                // });
            },
            isValid: function(field) {
                return (this.fields[field] && this.fields[field].valid && this.fields[field].validated && !this.fields[field].untouched);
            },
        }
    }
</script>
