<template>
    <aside>
        <div class="card">
            <div class="card-body d-flex align-content-between flex-wrap pb-2">
                <div class="align-items-start">
                <h5><i class="fa fa-address-card-o"></i>&ensp;{{ id.category }}</h5>
                <h6 class="mb-1">
                    {{ id.type }}
                    <small>{{ id.issuer }}</small>
                </h6>
            </div>
                <div class="row">
                    <div class="col"><p class="font-monospace">{{ id.number }}</p></div>
                    <div class="col"><p>{{ getExpiryDate }}</p></div>
                </div>
            </div>
        </div>
    </aside>
</template>


<script>
    import moment from 'moment';

    export default {
        props: [
            'dataId'
        ],

        data() {
            return {
                id: {
                    category: "Concession",
                    type: "",
                    issuer: "",
                    number: "",
                    expiry: ""
                }
            }
        },

        computed: {
            getExpiryDate: function() {
                return moment(this.id.expiry, 'YYYY-MM-DD').format('MM/YY');
            }
        },

        created: function () {
            if(this.dataId) {
                Object.assign(this.id, this.dataId.type);
            }
        },
    }
</script>
