<template>
 

    <div class="form-group" :class="{'col': column}">
            
            <label v-if="label" :for="name" class="form-label">{{ label }}<span class="form-required" v-if="required">*</span></label>

            <input
                class="form-control"
                type="tel"
                :id="name"
                :name="name"
                :placeholder="placeholder"
                v-on:change="updateValue($event.target.value)"
                :value="value"
                :data-vv-as="validatorLabel ? validatorLabel: label"
                v-validate="{required: required, digits: 10, qasMobile: true}"
                :class="{'is-invalid': invalid, 'is-valid': isValid(name), 'state-pending': isPending(name) }"
            >
                    
            <div v-if="invalid" class="invalid-feedback">{{ errorMessage }}</div>
        
        </div>

</template>


<script>
    import { Validator } from "vee-validate";

    const qasMobile = value => {
        return axios.get("/api/v1/validate/mobile", {
            params: {
                value: value
            }
        }).then(response => {
            // Notice that we return an object containing both a valid property and a data property.
            return {
                valid: response.data.isValid,
                data: {
                    message: (response.data.isValid) ? "" : "Invalid mobile number"
                }
            };
        });
    };

    Validator.extend("qasMobile", {
        validate: qasMobile,
        getMessage: (field, params, data) => {
            return data.message;
        }
    });

    export default {
        inject: ['$validator'],
        props: {
            label: {
                type: String,
                required: false
            },
            validatorLabel: {
                type: String,
                required: false
            },
            placeholder: {
                type: String,
                required: false
            },
            name: {
                type: String,
                required: true
            },
            required: {
                type: Boolean,
                default: false,
                required: false
            },
            disabled: {
                type: Boolean,
                default: false,
                required: false
            },
            column: {
                type: Boolean,
                default: false,
                required: false
            },
            invalid: {
                type: Boolean,
                default: false,
                required: false
            },
            errorMessage: {
                type: String,
                required: false,
                default: null
            },
            value: {
                type: [String, Number],
                required: false
            },
        },

        methods: {
            updateValue(value) {
                this.$emit('input', value);
            },
            isValid(field) {
                return (this.fields[field] && this.fields[field].valid && this.fields[field].validated && !this.fields[field].untouched);
            },
            isPending(field) {
                return (this.fields[field] && this.fields[field].pending);
            }
        }
    }
</script>
