<template>
    <div>
        <div class="card" v-for="(cust, id) in form.customers" :key="id">
            <div class="card-header">
                <h3 class="card-title">Applicant</h3>
                <div class="card-options">
                    <span class="tag tag-blue" v-if="id === 0">Primary</span>
                    <span class="tag tag-orange" v-if="id !== 0">Secondary</span>
                    <a href="#" class="ml-2 btn btn-outline-secondary btn-sm" @click.prevent="addSecondaryApplicant" v-if="id === form.customers.length - 1">Add applicant</a>
                    <a href="#" class="ml-2 btn btn-outline-secondary btn-sm" @click.prevent="removeApplicant(id)" v-if="id !== 0">Remove applicant</a>
                </div>
            </div>
            <div class="card-body">
                <form action="this.route" method="POST">
    
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label class="form-label" for="title">Title<span class="form-required">*</span></label>
                            <select class="form-control" id="title" name="title" v-model="cust.title" :disabled="id === 0">
                        <option disabled value="">-- Select --</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Ms">Ms</option>
                        <option value="Miss">Miss</option>
                        <option value="Dr">Dr</option>
                    </select>
                        </div>
                        <div class="form-group col">
    
                            <label class="form-label" for="firstname">First Name<span class="form-required">*</span></label>
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="John" v-model="cust.firstname" :disabled="id === 0">
    
                        </div>
                        <div class="form-group col">
    
                            <label class="form-label" for="lastname">Last Name<span class="form-required">*</span></label>
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Smith" v-model="cust.lastname" :disabled="id === 0">
    
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-7">
                            <label class="form-label" for="email">Email Address<span class="form-required">*</span></label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="john@example.com" v-model="cust.email" :disabled="id === 0">
                        </div>
    
    
    
                        <div class="form-group col-5">
                            <label class="form-label" for="mobile">Mobile<span class="form-required">*</span></label>
                            <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="0412345678" v-model="cust.mobile" :disabled="id === 0">
                        </div>
    
    
                    </div>
    
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label class="form-label" for="dob">Date of Birth<span class="form-required">*</span></label>
                            <flat-pickr class="form-control" name="dob" placeholder="Select Date" v-model="cust.dob" :config="config.dateOfBirth" :events="config.dateOfBirthEvents" v-validate="{required: true}" :class="{'is-invalid': errors.has('dob'), 'is-valid': isValid('dob')}" @on-open="onDobDatePickerOpen"></flat-pickr>
                            <div v-show="errors.has('dob')" class="invalid-feedback">{{ errors.first('dob') }}</div>
    
                        </div>
                        <div class="form-group col">
                            <label class="form-label" for="phone">Land Line</label>
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="0312345678" v-model="cust.phone" v-validate="'digits:10'" :class="{
                                        'is-invalid': errors.has('phone'), 
                                        'is-valid': (isValid('phone') && cust.phone !== '')
                                    }">
                            <div v-show="errors.has('phone')" class="invalid-feedback">{{ errors.first('phone') }}</div>
                        </div>
    
                    </div>
    
                    <div class="form-group">
                        <label class="form-label" for="occupation">Occupation<span class="form-required">*</span></label>
                        <input type="text" class="form-control" id="occupation" name="occupation" placeholder="Job" v-model="cust.occupation" v-validate="'required|min:2'" :class="{'is-invalid': errors.has('occupation'),'is-valid': isValid('occupation')}">
                        <div v-show="errors.has('occupation')" class="invalid-feedback">{{ errors.first('occupation') }}</div>
                    </div>
    
    
    
                    
    
                    <div class="row row-cards row-deck mt-5" v-if="showIdentifications(cust)">
    
                        <div class="col" v-for="(ids, idIndex) in cust.identifications" :key="idIndex">
                            <otm-identification v-bind:data-id="ids"></otm-identification>
                        </div>
    
                    </div>

                    <div class="btn-list text-center mt-4">
                        <a href="#" class="btn btn-info" @click.prevent="addIdentification(id)"><i class="fa fa-address-card-o mr-2"></i>Add Identification</a>
                        <a href="#" class="btn btn-info" @click.prevent="addConcession(id)"><i class="fa fa-address-card-o mr-2"></i>Add Concession</a>
                    </div>
    
    
    
    
                    <!-- <pre style="height:200px; overflow:scroll">{{ form }}</pre> -->
                </form>
    
            </div>
        </div>
        
    </div>
</template>


<script>
    import Turbolinks from 'turbolinks';
    import {
        Validator,
        mapFields
    } from "vee-validate";
    import moment from 'moment';
    import flatPickr from 'vue-flatpickr-component';
    import swal from 'sweetalert2';
    
    let minDateOfBirth = () => {
        return moment().subtract(18, 'years').format('YYYY-MM-DD');
    };
    
    export default {
        props: [
            'dataRouteComplete',
            'dataRouteContinue',
            'dataApp'
        ],
        components: {
            flatPickr
        },
        data() {
            return {
                form: {
                    application_type_id: "",
                    renter: "",
                    connection_date: "",
                    address: {
                        full: "",
                        moniker: "",
                        split: {
                            property_type: "",
                            unit_number: "",
                            street_number: "",
                            street_name: "",
                            street_type: "",
                            suburb: "",
                            postcode: "",
                            state: "",
                            dpid: ""
                        },
                    },
                    customers: [{
                        title: "",
                        lastname: "",
                        firstname: "",
                        email: "",
                        mobile: "",
                        dob: ""
                    }]
                },
                config: {
                    dateOfBirth: {
                        wrap: true, // set wrap to true only when using 'input-group'
                        altFormat: 'd / m / Y',
                        altInput: true,
                        dateFormat: 'Y-m-d',
                        maxDate: minDateOfBirth()
                    },
                    dateOfBirthEvents: [
                        'onChange', 'onOpen'
                    ]
                },
                complete: this.dataRouteComplete,
                continue: this.dataRouteContinue
            };
        },
    
        created: function() {
            if (this.dataApp) {
                Object.assign(this.form, this.dataApp);
            }
    
        },
    
        methods: {
            // on opening the datepicker, while no date has been selected
            // default the calender view to Jan 1980.
            onDobDatePickerOpen: function(dateObj, dateStr, flatpickr, dayElement) {
                if(!dateStr) {
                 flatpickr.jumpToDate('1980-01-01');
               }
            },
            showIdentifications: function(customer) {
                if(!customer.identifications) {
                    return false;
                } else {
                    if(customer.identifications.length !== 0) {
                        return true;
                    } else {
                        return false;
                    }
                }
            },
            isValid(field) {
                return (this.fields[field] && this.fields[field].valid && this.fields[field].validated && !this.fields[field].untouched);
            },
            isPending(field) {
                return (this.fields[field] && this.fields[field].pending);
            },
            showErrorModel() {
                swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Please fill out the required fields!',
                });
            },
            addSecondaryApplicant: function() {
                this.form.customers.push({
                    title: "",
                    lastname: "",
                    firstname: "",
                    email: "",
                    mobile: ""
                });
            },
            removeApplicant: function(index) {
                this.form.customers.splice(index, 1);
            },
            addIdentification: function(index) {
                
            },
            addConcession: function(index) {

            }
        }
    }
</script>
