<template>
    <div>
        <section class="card">
            <div class="card-header">
                <h3 class="card-title">Details</h3>
            </div>
            <div class="card-body">
                <form action="this.route" method="POST">
    
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="form-label">Application Type<span class="form-required">*</span></label>
                            <select name="application_type_id" class="form-control" v-model="form.application_type_id" v-validate="'required'" :class="{'form-control': true, 'is-invalid': errors.has('application_type_id'), 'is-valid': isValid('application_type_id') }">
                                    <option disabled value="">-- Select --</option>
                                    <option v-for="(type, id) in dataAppTypes" :value="id" :key="id">{{ type }}</option>
                                </select>
                            <div v-show="errors.has('application_type_id')" class="invalid-feedback">{{ errors.first('application_type_id') }}</div>
                        </div>
    
    
                        <div class="form-group col">
                            <label class="form-label">Applicant Type<span class="form-required">*</span></label>
                            <select name="renter" class="form-control" v-model="form.renter" v-validate="'required'" :class="{'form-control': true, 'is-invalid': errors.has('renter'), 'is-valid': isValid('renter') }">
                                    <option disabled value="">-- Select --</option>
                                    <option value="renter">Renter</option>
                                    <option value="owner">Owner</option>
                                </select>
                            <div v-show="errors.has('renter')" class="invalid-feedback">{{ errors.first('renter') }}</div>
                        </div>
                    </div>
    
    
                    <div class="form-row">
                        <div class="form-group col-8">
                            <label class="form-label" for="mobile">Connection Address<span class="form-required">*</span></label>
                            <div class="input-icon">
                                <span class="input-icon-addon">
                                        <i class="fe fe-search"></i>
                                    </span>
    
                                <vue-autosuggest :suggestions="config.addressList" :onSelected="autoCompleteSelectHandler" :renderSuggestion="renderSuggestion" :getSuggestionValue="getSuggestionValue" :inputProps="{
                                            id:'autosuggest__input', 
                                            onInputChange: this.onInputChange, 
                                            placeholder:'123 Some Street, Somewhere'
                                        }" :class="{'is-invalid': errors.has('address'), 'is-valid': isValid('address')}" id="address" name="address" />
                            </div>
    
                            <div v-show="errors.has('address')" class="invalid-feedback invalid-feedback-override">{{ errors.first('address') }}</div>
    
                            <input type="hidden" v-model="form.address.split.postcode" name="address" v-validate="{required: true}">
                        </div>
    
                        <div class="form-group col-4">
                            <label class="form-label">Connection Date<span class="form-required">*</span></label>
    
                            <flat-pickr class="form-control" name="connection_date" placeholder="Select Date" v-model="form.connection_date" :config="config.connection_date" v-validate="{required: true}" :class="{'is-invalid': errors.has('connection_date'), 'is-valid': isValid('connection_date')}"></flat-pickr>
    
                            <div v-show="errors.has('connection_date')" class="invalid-feedback">{{ errors.first('connection_date') }}</div>
    
    
                        </div>
    
                    </div>
    
                    <hr class="mt-3 mb-4">
    
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label class="form-label" for="title">Title</label>
                            <select class="form-control" id="title" name="title" v-model="form.customers[0].title" v-validate="'required'" :class="{'form-control': true, 'is-invalid': errors.has('title'), 'is-valid': isValid('title') }">
                                    <option disabled value="">-- Select --</option>
                                    <option value="Mr">Mr</option>
                                    <option value="Mrs">Mrs</option>
                                    <option value="Ms">Ms</option>
                                    <option value="Miss">Miss</option>
                                    <option value="Dr">Dr</option>
                                </select>
                            <div v-show="errors.has('title')" class="invalid-feedback">{{ errors.first('title') }}</div>
                        </div>
                        <div class="form-group col">
    
                            <label class="form-label" for="firstname">First Name<span class="form-required">*</span></label>
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="John" v-model="form.customers[0].firstname" v-validate="'required|min:2'" :class="{'form-control': true, 'is-invalid': errors.has('firstname'), 'is-valid': isValid('firstname') }">
                            <div v-show="errors.has('firstname')" class="invalid-feedback">{{ errors.first('firstname') }}</div>
                        </div>
                        <div class="form-group col">
    
                            <label class="form-label" for="lastname">Last Name<span class="form-required">*</span></label>
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Smith" v-model="form.customers[0].lastname" v-validate="'required|min:2'" :class="{'form-control': true, 'is-invalid': errors.has('lastname'), 'is-valid': isValid('lastname') }">
                            <div v-show="errors.has('lastname')" class="invalid-feedback">{{ errors.first('lastname') }}</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-7">
                            <label class="form-label" for="email">Email Address<span class="form-required">*</span></label>
                            <input type="email" id="email" name="email" placeholder="john@example.com" v-model="form.customers[0].email" v-validate="'required|email|qasEmail'" :class="{'form-control': true, 'is-invalid': errors.has('email'), 'is-valid': isValid('email'), 'state-pending': isPending('email') }">
                            <div v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</div>
                        </div>
    
    
    
                        <div class="form-group col-5">
                            <label class="form-label" for="mobile">Mobile<span class="form-required">*</span></label>
                            <input type="tel" id="mobile" name="mobile" placeholder="0412345678" v-model="form.customers[0].mobile" v-validate="'required|digits:10|qasMobile'" :class="{'form-control': true, 'is-invalid': errors.has('mobile'), 'is-valid': isValid('mobile'), 'state-pending': isPending('mobile') }">
                            <div v-show="errors.has('mobile')" class="invalid-feedback">{{ errors.first('mobile') }}</div>
                        </div>
    
    
                    </div>
    
    
                    <!-- <pre>{{ errors }}</pre> -->
                </form>
    
            </div>
    
        </section>
        <div class="btn-list text-center mt-4">
            <!-- <a href="#" class="btn btn-secondary" @click.prevent="completeForm">Save, with Customer to Complete
                                <i class="fe fe-corner-right-up ml-1"></i>
                            </a> -->
            <button type="submit" class="btn btn-success" @click.prevent="continueForm">Save & Continue Application
                                <i class="fe fe-arrow-right ml-1"></i>
                            </button>
        </div>
    </div>
</template>


<script>
    import Turbolinks from 'turbolinks';
    import {
        Validator,
        mapFields
    } from "vee-validate";
    import moment from 'moment';
    import flatPickr from 'vue-flatpickr-component';
    import {
        VueAutosuggest
    } from 'vue-autosuggest';
    import swal from 'sweetalert2';
    
    const qasEmail = value => {
        return axios.get("/api/v1/validate/email", {
            params: {
                value: email.value
            }
        }).then(response => {
            // Notice that we return an object containing both a valid property and a data property.
            return {
                valid: response.data.isValid,
                data: {
                    message: (response.data.isValid) ? "" : "Invalid email address"
                }
            };
        });
    };
    
    const qasMobile = value => {
        return axios.get("/api/v1/validate/mobile", {
            params: {
                value: mobile.value
            }
        }).then(response => {
            // Notice that we return an object containing both a valid property and a data property.
            return {
                valid: response.data.isValid,
                data: {
                    message: (response.data.isValid) ? "" : "Invalid mobile number"
                }
            };
        });
    };
    
    
    const publicHolidays = ['2018-05-15'];
    
    let minConnectionDate = () => {
        let now = moment();
        if (now.isAfter('12', 'hour')) {
            return now.add(1, 'day').format('YYYY-MM-DD');
        }
        return now.format('YYYY-MM-DD');
    };
    
    let disabledConnectionDates = date1 => {
        let date = moment(date1);
        if (date.day() === 0 || date.day() === 6) {
            return true;
        }
        return publicHolidays.every(function(element, index, array) {
            return moment(element).isSame(date, 'day');
        });
    
    
    }
    
    // The messages getter may also accept a third parameter that includes the data we returned earlier.
    Validator.extend("qasEmail", {
        validate: qasEmail,
        getMessage: (field, params, data) => {
            return data.message;
        }
    });
    
    Validator.extend("qasMobile", {
        validate: qasMobile,
        getMessage: (field, params, data) => {
            return data.message;
        }
    });
    
    
    export default {
        props: [
            'dataRouteComplete',
            'dataRouteContinue',
            'dataAppTypes',
            'dataApp'
        ],
        components: {
            flatPickr,
            VueAutosuggest
        },
        data() {
            return {
                form: {
                    application_type_id: "",
                    renter: "",
                    connection_date: "",
                    address: {
                        full: "",
                        moniker: "",
                        split: {
                            property_type: "",
                            unit_number: "",
                            street_number: "",
                            street_name: "",
                            street_type: "",
                            suburb: "",
                            postcode: "",
                            state: "",
                            dpid: ""
                        },
                    },
                    customers: [{
                        title: "",
                        lastname: "",
                        firstname: "",
                        email: "",
                        mobile: ""
                    }]
                },
                config: {
                    connection_date: {
                        wrap: true, // set wrap to true only when using 'input-group'
                        altFormat: 'd / m / Y',
                        altInput: true,
                        dateFormat: 'Y-m-d',
                        minDate: minConnectionDate(),
                        disable: [disabledConnectionDates],
                    },
                    addressList: []
                },
                complete: this.dataRouteComplete,
                continue: this.dataRouteContinue
            };
        },
    
        created: function() {
            if (this.dataApp) {
                Object.assign(this.form, this.dataApp);
            }
    
        },
    
        computed: {
            ...mapFields(['email', 'mobile']),
            // formValidated() { 
            //     return Object.keys(this.fields).some(key => this.fields[key].validated) && Object.keys(this.fields).some(key => this.fields[key].valid); 
            // },
        },
    
        methods: {
            onInputChange(text, oldText) {
                // clearTimeout(this.timeout);
                // this.timeout = setTimeout(() => {
                return axios.get("/api/v1/validate/address", {
                        params: {
                            value: text
                        }
                    })
                    .then(response => {
                        this.config.addressList = [{
                            'data': response.data.results
                        }];
                    })
                    .catch(error => {
                        console.error(error);
                    });
                // }, 300);
            },
            getSuggestionValue(suggestion) {
                return suggestion.item.address;
            },
            renderSuggestion(suggestion) {
                return suggestion.item.address;
            },
            autoCompleteSelectHandler(selectedItem, originalInput) {
                console.log(selectedItem.item, originalInput, this.form.address.address);
                this.form.address.full = selectedItem.item.address;
                this.form.address.moniker = selectedItem.item.addressMoniker;
    
                return axios.post("/api/v1/validate/address/split", {
                        value: selectedItem.item.addressMoniker
                    })
                    .then(response => {
                        this.form.address.split = response.data.results;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            autoCompleteFetcher(val) {
                //   clearTimeout(this.timeout);
                //   this.timeout = setTimeout(() => {
                //     const photosPromise = axios.get(this.photosUrl);
                //     const usersPromise = axios.get(this.usersUrl);
    
                //     Promise.all([photosPromise, usersPromise]).then(values => {
                //       this.suggestions = [];
                //       this.selected = null;
    
                //       const photos = this.filterResults(values[0].data, val, "title");
                //       const users = this.filterResults(values[1].data, val, "name");
    
                //       users.length &&
                //         this.suggestions.push({ name: "destinations", data: users });
                //       photos.length &&
                //         this.suggestions.push({ name: "hotels", data: photos });
                //     });
                //   }, this.debounceMilliseconds);
            },
            isValid(field) {
                return (this.fields[field] && this.fields[field].valid && this.fields[field].validated && !this.fields[field].untouched);
            },
            isPending(field) {
                return (this.fields[field] && this.fields[field].pending);
            },
            showErrorModel() {
                swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Please fill out the required fields!',
                });
            },
            completeForm: function() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        axios.post(this.complete, this.form)
                            .then((response) => {
                                if (response && (response.headers["content-type"] || '').substring(0, 9) === 'text/html') {
                                    var referrer = response.request.responseURL;
                                    Turbolinks.controller.cache.put(referrer, Turbolinks.Snapshot.wrap(response.data));
                                    Turbolinks.visit(referrer, {
                                        action: 'restore'
                                    });
                                }
                            })
                            .catch((error) => {
                                console.error(error);
                            });
                    } else {
                        this.showErrorModel();
                    }
                });
            },
            continueForm: function() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        axios.post(this.continue, this.form)
                            .then((response) => {
                                if (response && (response.headers["content-type"] || '').substring(0, 9) === 'text/html') {
                                    var referrer = response.request.responseURL;
                                    Turbolinks.controller.cache.put(referrer, Turbolinks.Snapshot.wrap(response.data));
                                    Turbolinks.visit(referrer, {
                                        action: 'restore'
                                    });
                                }
                            })
                            .catch((error) => {
                                console.error(error);
                            });
                    } else {
                        this.showErrorModel();
                    }
                });
            }
        }
    }
</script>

