<template>
    <aside class="col-12">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col"><h6 class="pt-1"><i class="fa fa-address-card-o mr-2"></i>{{ id.category }}</h6></div>
                    <div class="col-2">
                        <p class="text-right">
                        <a href="#" @click.prevent="remove"><i class="fe fe-x"></i></a>
                    </p></div>
                </div>

                <div v-if="id.category === 'Concession'">

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="form-label">Concession Type<span class="form-required">*</span></label>
                            <select name="type" class="form-control" v-model="id.type" v-validate="'required'"  data-vv-as="Concession Type" :class="{'form-control': true, 'is-invalid': errors.has('type'), 'is-valid': isValid('type') }" required v-on:change="resetIdIssuer">
                                    <option disabled value="">-- Select --</option>
                                    <option v-for="(card, key) in config.concessionCards" :key="key" :value="card.abbreviation">{{ card.name }}</option>
                                </select>
                            <div v-show="errors.has('type')" class="invalid-feedback">{{ errors.first('type') }}</div>
                        </div>
                        <div class="form-group col">
                            <label class="form-label">Concession Issuer<span class="form-required">*</span></label>
                            <select name="issuer" class="form-control" v-model="id.issuer" v-validate="'required'"  data-vv-as="Concession Type" :class="{'form-control': true, 'is-invalid': errors.has('issuer'), 'is-valid': isValid('issuer') }" required>
                                <option disabled value="">-- Select --</option>
                                <option v-for="(isser, key) in config.issuers.concessions" :key="key" :value="isser.abbreviation">{{ isser.name }}</option>
                            </select>
                            <div v-show="errors.has('issuer')" class="invalid-feedback">{{ errors.first('issuer') }}</div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="form-label" for="number">Concession Number<span class="form-required" >*</span></label>
                            <input type="text" id="number" :name="fName('number')" v-model="id.number" placeholder="123456789A" data-vv-as="Concession Number" v-validate="'required'" :class="{'form-control': true, 'is-invalid': errors.has(fName('number')), 'is-valid': isValid(fName('number')) }">
                            <div v-show="errors.has(fName('number'))" class="invalid-feedback">{{ errors.first(fName('number')) }}</div>
                        </div>
                    
                        <otm-date-picker v-model="id.expiry" :config="config.expiry" :name="fName('expiry')" :label="'Concession Expiry'" :column="true" :class="'col'" :required="true" :placeholder="'Select Date'" :invalid="errors.has(fName('expiry'))" :errorMessage="errors.first(fName('expiry'))" :validatorLabel="'Concession Expiry'"></otm-date-picker>
                    </div>

                </div>
                <div v-if="id.category === 'Identification'">
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="form-label">ID Type<span class="form-required">*</span></label>
                            <select name="type" class="form-control" v-model="id.type" v-validate="'required'"  data-vv-as="Identification Type" :class="{'form-control': true, 'is-invalid': errors.has('type'), 'is-valid': isValid('type') }" required v-on:change="resetIdIssuer">
                                    <option disabled value="">-- Select --</option>
                                    <optgroup label="Drivers License">
                                        <option value="Australian Drivers Licence">Australian Drivers Licence</option>
                                    </optgroup>
                                    <optgroup label="Passport">
                                        <option value="Australian Passport">Australian Passport</option>
                                        <option value="International Passport">International Passport</option>
                                    </optgroup>
                                    <optgroup label="Other">
                                        <!-- <option value="Medicare Card">Medicare Card</option> -->
                                        <option value="Bank Statement">Bank Statement</option>
                                        <option value="Australian Government Issued Benefits Card">Australian Government Issued Benefits Card</option>
                                        <option value="Birth Certificate">Birth Certificate</option>
                                        <option value="Blind Citizens Australia Identity Card">Blind Citizens Australia Identity Card</option>
                                        <option value="Credit Card">Credit Card</option>
                                        <option value="Debit Card">Debit Card</option>
                                        <option value="Private Health Insurance Card">Private Health Insurance Card</option>
                                        <option value="Tertiary ID Card">Tertiary ID Card</option>
                                        <option value="Utility Bill or Rates Notice">Utility Bill or Rates Notice</option>
                                        <option value="Valid Police/Defence Force ID">Valid Police/Defence Force ID</option>
                                        <option value="Valid Shooters/Firearms Licence">Valid Shooters/Firearms Licence</option>
                                        <option value="Working with Children Card">Working with Children Card</option>    
                                    </optgroup>
                                </select>
                            <div v-show="errors.has('type')" class="invalid-feedback">{{ errors.first('type') }}</div>
                        </div>


                        <div class="form-group col" v-if="issuerForIdType">
                            <label class="form-label">ID Issuer<span class="form-required">*</span></label>
                            <select name="issuer" class="form-control" v-model="id.issuer" v-validate="'required'"  data-vv-as="Identification Type" :class="{'form-control': true, 'is-invalid': errors.has('issuer'), 'is-valid': isValid('issuer') }" required>
                                <option disabled value="">-- Select --</option>
                                <option v-if="id.type === 'International Passport'" v-for="(isser, key) in config.issuers.countries" :key="key" :value="isser.name">{{ isser.name }}</option>            
                                <option v-if="id.type === 'Australian Drivers Licence'" v-for="(isser, key) in config.issuers.states" :key="key" :value="isser.abbreviation">{{ isser.name }}</option>            
                            </select>
                            <div v-show="errors.has('issuer')" class="invalid-feedback">{{ errors.first('issuer') }}</div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="form-label" for="number">ID Number<span class="form-required" >*</span></label>
                            <input type="text" id="number" :name="fName('number')" v-model="id.number" placeholder="123456789A" data-vv-as="Identification Number" v-validate="'required'" :class="{'form-control': true, 'is-invalid': errors.has(fName('number')), 'is-valid': isValid(fName('number')) }">
                            <div v-show="errors.has(fName('number'))" class="invalid-feedback">{{ errors.first(fName('number')) }}</div>
                        </div>
                    
                        <otm-date-picker v-model="id.expiry" :config="config.expiry" :name="fName('expiry')" :label="'ID Expiry'" :column="true" :class="'col'" :required="true" :placeholder="'Select Date'" :invalid="errors.has(fName('expiry'))" :errorMessage="errors.first(fName('expiry'))" :validatorLabel="'Identification Expiry'"></otm-date-picker>

                    </div>
                </div>
            </div>
        </div>
    </aside>
</template>


<script>
   
    import { Validator } from "vee-validate";
    import { COUNTRIES } from "../../constants/Countries";
    import { STATES } from "../../constants/States";
    import { CONCESSION_CARDS } from "../../constants/ConcessionCards";
    import { CONCESSION_ISSERS } from "../../constants/ConcessionIssuers";
    import bugsnagClient from './../../bugsnag';

    export default {
        inject: ['$validator'],

        props: [
            'dataId'
        ],

        data() {
            return {
                id: {
                    id: 0,
                    category: "Concession",
                    type: "",
                    issuer: "",
                    number: "",
                    expiry: "",
                    index: 0
                },
                config: {
                    expiry: {
                        wrap: true,
                        altFormat: 'm / Y',
                        altInput: true,
                        dateFormat: 'Y-m-d',
                        minDate: moment().format('YYYY-MM-DD')
                    },
                    issuers: {
                       countries: [],
                       states: [],
                       concessions: []
                    },
                    concessionCards: []
                },
            }
        },

        created: function () {
            if(this.dataId) {
                Object.assign(this.id, this.dataId);
            }

            this.config.issuers.countries = COUNTRIES;
            this.config.issuers.states = STATES;
            this.config.issuers.concessions = CONCESSION_ISSERS;
            this.config.concessionCards = CONCESSION_CARDS;
            this.onInput();
        },

        computed: {
            getExpiryDate: function() {
                return moment(this.id.expiry, 'YYYY-MM-DD').format('MM/YY');
            },
            issuerForIdType: function() {
                if('Australian Drivers Licence' === this.id.type || 'International Passport' === this.id.type) {
                    return true;
                } else {
                    return false;
                }
            },
        },

        methods: {
            resetIdIssuer: function() {
                if(this.id.type === 'Australian Passport') {
                    this.id.issuer = 'Australia';
                } else {
                    this.id.issuer = '';
                }
            },
            fName: function(name) {
                  return "applicant." + this.id.index + "." + name;
            },
            remove() {
                this.$emit('remove-id', this.id.id);
            },

            onInput() {
                console.log('Emitting id', this.id)
                this.$emit('update-id', this.id)
            },
            isValid(field) {
                return (this.fields[field] && this.fields[field].valid && this.fields[field].validated && !this.fields[field].untouched);
            },
            isPending(field) {
                return (this.fields[field] && this.fields[field].pending);
            }
        },

        

        watch: {
            id: {
                handler(){
                    this.onInput()
                },
                deep: true
            }
        },
    }
</script>
