<template>
   
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><span class="tag" :class="{ 'tag-blue': isPrimary, 'tag-azure': !isPrimary }">{{ this.applicantType }} Applicant</span></h3>
            <div class="card-options" v-if="!isPrimary">    
                <a href="#" class="card-options-remove" @click.prevent="removeApplicant()"><i class="fe fe-x"></i></a>
            </div>
        </div>
        <div class="card-body pb-1">

            <div class="form-row">
                <div class="form-group col-3">
                    <label class="form-label" for="title">Title<span class="form-required">*</span></label>
                    <select id="title" :name="fName('title')" v-model="applicant.title" data-vv-as="Applicant Title" v-validate="'required'" :class="{'form-control': true, 'is-invalid': errors.has(fName('title')), 'is-valid': isValid(fName('title')) }">
                        <option value="">--Select--</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Ms">Ms</option>
                        <option value="Miss">Miss</option>
                        <option value="Dr">Dr</option>
                    </select>
                    <div v-show="errors.has(fName('title'))" class="invalid-feedback">{{ errors.first(fName('title')) }}</div>
                </div>
                <div class="form-group col">
                    <div class="form-group">
                        <label class="form-label" for="firstname">First Name<span class="form-required" >*</span></label>
                        <input type="text" id="firstname" :name="fName('firstname')" v-model="applicant.firstname" placeholder="John" data-vv-as="Applicant First Name" v-validate="'required'" :class="{'form-control': true, 'is-invalid': errors.has(fName('firstname')), 'is-valid': isValid(fName('firstname')) }">
                        <div v-show="errors.has(fName('firstname'))" class="invalid-feedback">{{ errors.first(fName('firstname')) }}</div>
                    </div>
                </div>
                <div class="form-group col">
                    <div class="form-group">
                        <label class="form-label" for="lastname">Last Name<span class="form-required" >*</span></label>
                        <input type="text" id="lastname" :name="fName('lastname')" v-model="applicant.lastname" placeholder="Smith" data-vv-as="Applicant Last Name" v-validate="'required'" :class="{'form-control': true, 'is-invalid': errors.has(fName('lastname')), 'is-valid': isValid(fName('lastname')) }">
                        <div v-show="errors.has(fName('lastname'))" class="invalid-feedback">{{ errors.first(fName('lastname')) }}</div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                    <otm-date-picker v-model="applicant.dob"  :config="config.dobpicker" :name="fName('dob')" :label="'Date of Birth'" :column="true" :class="'col-4'" :required="true" :placeholder="'Select Date'"  :invalid="errors.has(fName('dob'))" :errorMessage="errors.first(fName('dob'))" :validatorLabel="'Applicant Date of Birth'"></otm-date-picker>

                <div class="form-group col">
                    <label class="form-label" for="occupation">Occupation</label>
                    <input type="text" v-model="applicant.occupation" id="occupation" :name="fName('occupation')" placeholder="Job" data-vv-as="Applicant Occupation" v-validate="'alpha_spaces'" :class="{'form-control': true, 'is-invalid': errors.has(fName('occupation')), 'is-valid': isValid(fName('occupation')) }">
                    <div v-show="errors.has(fName('occupation'))" class="invalid-feedback">{{ errors.first(fName('occupation')) }}</div>
                </div>
            </div>

            <div class="form-row">
                <otm-input-email v-model="applicant.email" :name="fName('email')" :label="'Email Address'" :column="true" :required="true" :placeholder="'john@example.com'" :invalid="errors.has(fName('email'))" :errorMessage="errors.first(fName('email'))" :validatorLabel="'Applicant Email Address'"></otm-input-email>
            </div>

            <div class="form-row">
                <otm-input-mobile :name="fName('mobile')" :label="'Mobile'" :column="true" :required="true" :placeholder="'0412345678'" v-model="applicant.mobile" :invalid="errors.has(fName('mobile'))" :errorMessage="errors.first(fName('mobile'))" :validatorLabel="'Applicant Mobile'"></otm-input-mobile>
                
                <div class="form-group col">
                    <label class="form-label" for="phone">Alternate Phone</label>
                    <input type="tel" v-model="applicant.phone" id="phone" :name="fName('phone')" placeholder="0312345678" data-vv-as="Alternate Phone" v-validate="'numeric'" :class="{'form-control': true, 'is-invalid': errors.has(fName('phone')), 'is-valid': isValid(fName('phone')) }">
                    <div v-show="errors.has(fName('phone'))" class="invalid-feedback">{{ errors.first(fName('phone')) }}</div>
                </div>
            </div>

            <div class="btn-list mb-4">
                <h6 class="display-inline-block mr-3">Identification</h6>
                <button class="btn btn-sm btn-lime" @click.prevent="addApplicantId('Identification')"><i class="fe fe-plus mr-2"></i>Add ID</button>
                <button class="btn btn-sm btn-lime" @click.prevent="addApplicantId('Concession')"><i class="fe fe-plus mr-2"></i>Add Concession</button>
            </div>

            <!-- <div class="row"> -->
            <div class="row" v-if="applicant.identifications">     
                <otm-applicant-id 
                    v-for="(identification, key) in applicant.identifications" 
                    v-bind:key="identification.id"
                    v-bind:data-id="identification"
                    v-on:remove-id="removeApplicantId(key)"
                    v-on:update-id="updateApplicantId"
                >
                </otm-applicant-id>
            </div>
        
    
        </div>
    </div>

</template>


<script>

    import Turbolinks from 'turbolinks';
    import { Validator } from "vee-validate";
    import moment from 'moment';
    import flatPickr from 'vue-flatpickr-component';
    import swal from 'sweetalert2';
    import uuidv1 from 'uuid/v1';
    import { CollapseTransition } from 'vue2-transitions';
    import bugsnagClient from './../../bugsnag';
    
    export default {
      
        inject: ['$validator'],

        props: ['dataApplicant'],

        components: {
            CollapseTransition
        },

        data: function() {
            return {
                config: {
                    dobpicker: {
                        wrap: true,
                        altFormat: 'd / m / Y',
                        altInput: true,
                        dateFormat: 'Y-m-d',
                        maxDate: moment().subtract(18, 'years').format('YYYY-MM-DD')
                    }
                },
                applicant: {
                    index: 0,
                    primary: true,
                    title: '',
                    firstname: '',
                    lastname: '',
                    dob: '',
                    email: '',
                    mobile: '',
                    phone: '',
                    occupation: '',
                    notes: '',
                    identifications: []
                }

            }
        },

        created: function() {
            if(this.dataApplicant) {
                Object.assign(this.applicant, this.dataApplicant);
            }
            this.onInput();

            window.hj=window.hj||function(){(hj.q=hj.q||[]).push(arguments)};
            hj('trigger', 'application-create');
        },

        computed: {
              applicantType: function() {
                  return (this.applicant.primary) ? "Primary" : "Secondary";
              },
              isPrimary: function() {
                  return this.applicant.primary;
              },
              
            //   ids: function(){
            //       return this.$store.state.applicant[0].id;
            //   }
        },

        methods: {
            fName: function(name) {
                  return "applicant." + this.applicant.index + "." + name;
            },
            addApplicantId: function(type) {
                this.applicant.identifications.push({
                    id: uuidv1(), 
                    category:type, 
                    index:  this.applicant.identifications.length + 1
                });
            },
            removeApplicantId: function(index) {
                if(window.confirm("Are you sure you want to remove?")) { 
                    this.$delete(this.applicant.identifications, index);
                }
            },
    
            // updateApplicantId: function(id) {
            //     console.log('updateApplicantId()', id);
            //     let index = this.applicant.identifications.findIndex(id => id.id === this.applicant.identifications.id);
            //    // console.log(this.applicant.identificationss[index], identifications);
            //     this.applicant.identifications[index] = id;
            
            // },
            updateApplicantId: function(identification) {
                console.log('updateApplicantId()', identification);
                let index = this.applicant.identifications.findIndex(id => id.id === identification.id);
               // console.log(this.applicant.identifications[index], identification);
                this.applicant.identifications[index] = identification;
                

            },

            removeApplicant() {
                this.$emit('remove-applicant');
            },
            onInput() {
                console.log('Emitting applicant', this.applicant)
                this.$emit('update-applicant', this.applicant)
            },
            isValid(field) {
                return (this.fields[field] && this.fields[field].valid && this.fields[field].validated && !this.fields[field].untouched);
            },
            isPending(field) {
                return (this.fields[field] && this.fields[field].pending);
            }
    
        },
        watch: {
            applicant: {
                handler(){
                    this.onInput()
                },
                deep: true
            }
        }
    }
</script>