<template>
    <div>

        <section class="card">
            <!-- <div class="card-header">
                <h3 class="card-title">Application Details</h3>
            </div> -->
            <div class="card-body">
                <fieldset>
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="form-label">
                                Application Type<span class="form-required">*</span>
                                <span class="form-label-small">
                                    <span class="form-help" v-tooltip.auto="{ html:'tooltipContent'}">?</span>
                                </span>
                                <aside id="tooltipContent">
                                    <p>A Customer Connection is for a connection in the name of the tenant, vendor or purchaser.</p>
                                    <p>A Real Estate Agent Connection is for a temporary connection under your business ABN.</p>
                                    <p class="mb-0">A Landlord Connection is for a temporary connection under the landload's name.</p>
                                </aside>
                            </label>

                            <select name="application_type_id" class="form-control" v-model="details.application_type_id" v-validate="'required'" data-vv-as="Application Type" :class="{'form-control': true, 'is-invalid': errors.has('application_type_id'), 'is-valid': isValid('application_type_id') }" required>
                                    <option disabled value="">-- Select --</option>
                                    <option v-for="(type, id) in this.dataAppTypes" :value="id" :key="id">{{ type }}</option>
                                </select>
                            <div v-show="errors.has('application_type_id')" class="invalid-feedback">{{ errors.first('application_type_id') }}</div>
                        </div>
    
    
                        <div class="form-group col">
                            <label class="form-label">Applicant Type<span class="form-required">*</span></label>
                            <select name="renter" class="form-control" v-model="details.renter" v-validate="'required'"  data-vv-as="Applicant Type" :class="{'form-control': true, 'is-invalid': errors.has('renter'), 'is-valid': isValid('renter') }" required>
                                    <option disabled value="">-- Select --</option>
                                    <option value="1">Renter</option>
                                    <option value="0">Owner</option>
                                </select>
                            <div v-show="errors.has('renter')" class="invalid-feedback">{{ errors.first('renter') }}</div>
                        </div>
                    </div>

                <collapse-transition>
                    <div class="form-row" v-if="details.application_type_id === '2'">
                        <div class="form-group col">
                            <label class="form-label" for="businessName">Business Name</label>
                            <input type="text" v-model="details.business.name" id="businessName" :name="'businessName'" placeholder="" data-vv-as="Business Name" v-validate="'required'" :class="{'form-control': true, 'is-invalid': errors.has('details.business.name'), 'is-valid': isValid('details.business.name') }">
                            <div v-show="errors.has('details.business.name')" class="invalid-feedback">{{ errors.first('details.business.name') }}</div>
                        </div>   
                        <div class="form-group col">
                            <label class="form-label" for="abn">Business ABN</label>
                            <input type="tel" v-model="details.business.abn" id="abn" :name="'abn'" placeholder="" data-vv-as="Business ABN" v-validate="'required|numeric'" :class="{'form-control': true, 'is-invalid': errors.has('abn'), 'is-valid': isValid('abn') }">
                            <div v-show="errors.has('abn')" class="invalid-feedback">{{ errors.first('abn') }}</div>
                        </div>   
                    </div>   
                </collapse-transition>
                
                 
                   
                    <div class="form-row">

                        <div class="form-group col-4">
                            <label class="form-label">Connection Date<span class="form-required">*</span></label>
    
                            <flat-pickr 
                            class="form-control" 
                            name="connection_date" 
                            placeholder="Select Date" 
                            v-model="details.connection_date" 
                            :config="config.connection_date" 
                            v-validate="{required: true}" 
                            data-vv-as="Connection Date"
                            :class="{
                                'is-invalid': errors.has('connection_date'), 
                                'is-valid': isValid('connection_date')
                            }"></flat-pickr>
    
                            <div v-show="errors.has('connection_date')" class="invalid-feedback">{{ errors.first('connection_date') }}</div>
    
    
                        </div>

                        <div class="col-8 form-group">
                            <label class="form-label">Assigned Property Manager<span class="form-required">*</span>
                                <span class="form-label-small">
                                    <span class="form-help" v-tooltip.auto="{ html:'tooltipContent1'}">?</span>
                                </span>
                                <aside id="tooltipContent1">
                                    <p class="mb-0">If you assign this application to another property manager, you will no longer be able to see this application in the On The Move Portal.</p>
                                </aside>
                            </label>
                            <select name="agent_id" class="form-control" v-model="details.agent_id" v-validate="'required'" :class="{'form-control': true, 'is-invalid': errors.has('agent_id'), 'is-valid': isValid('agent_id') }">
                                    <option 
                                        v-for="(pm, index) in this.config.property_managers" 
                                        :value="pm.agent_id" 
                                        :key="index" 
                                    >
                                        {{ pm.first_name }} {{ pm.last_name }}
                                    </option>
                                </select>
                            <div v-show="errors.has('agent_id')" class="invalid-feedback">{{ errors.first('agent_id') }}</div>

                        </div>
                        
                    </div>
                     <div class="form-row">
                        <div class="col form-group mb-0">
                            <label class="form-label" for="notes">Notes</label>
                            <textarea class="form-control" v-model="details.notes" name="notes" id="notes" rows="3" placeholder="Any access or additional notes about the property"></textarea>
                        </div>
                    </div>
                    <hr class="my-5">
                       <div class="form-row mb-0">
                        <div class="form-group col">
                            <label class="form-label" for="address">
                                Connection Address
                                <!-- <a @click.prevent="toggleAddressEntryMethod" href="#" class="float-right small">Manual Entry</a> -->
                            </label>

                            <section v-if="config.enterAddressManually === false">
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <i class="fe fe-search"></i>
                                    </span>

                                    <vue-autosuggest 
                                        :suggestions="config.addressList" 
                                        :onSelected="autoCompleteSelectHandler" 
                                        :renderSuggestion="renderSuggestion" 
                                        :getSuggestionValue="getSuggestionValue" 
                                        :inputProps="{
                                            id: 'autosuggest__input', 
                                            onInputChange: this.onInputChange, 
                                            placeholder: 'Search for an address... ',
                                            autocomplete: 'application-street-address'
                                        }" 
                                        :class="{
                                            'is-invalid': errors.has('address'), 
                                            'is-valid': isValid('address')
                                        }" 
                                        id="address" 
                                        name="address" 
                                    />

                                </div>
                                <!-- <input type="hidden" v-model="details.address.split.postcode" name="address" v-validate="{required: true}" data-vv-as="Connection Address"> -->
                            <!-- </section>
                            <section v-if="config.enterAddressManually === true"> -->
                                <div class="form-row mt-4">
                                    <div class="form-group col-2">
                                        <label class="form-label" for="unit_number">Unit Number</label>
                                        <input type="text" v-model="details.address.split.unit_number" id="unit_number" :name="'unit_number'" placeholder="" data-vv-as="Unit Number" v-validate="''" :class="{'form-control': true, 'is-invalid': errors.has('unit_number'), 'is-valid': isValid('details.address.split.unit_number') }">
                                        <div v-show="errors.has('unit_number')" class="invalid-feedback">{{ errors.first('unit_number') }}</div>
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-label" for="street_number">Street Number<span class="form-required">*</span></label>
                                        <input type="text" v-model="details.address.split.street_number" id="street_number" :name="'street_number'" placeholder="" data-vv-as="Street Number" v-validate="'required'" :class="{'form-control': true, 'is-invalid': errors.has('street_number'), 'is-valid': isValid('details.address.split.street_number') }">
                                        <div v-show="errors.has('street_number')" class="invalid-feedback">{{ errors.first('street_number') }}</div>
                                    </div>
                                    <div class="form-group col">
                                        <label class="form-label" for="street_name">Street Name<span class="form-required">*</span></label>
                                        <input type="text" v-model="details.address.split.street_name" id="street_name" :name="'street_name'" placeholder="" data-vv-as="Street Name" v-validate="'required'" :class="{'form-control': true, 'is-invalid': errors.has('street_name'), 'is-valid': isValid('details.address.split.street_name') }">
                                        <div v-show="errors.has('street_name')" class="invalid-feedback">{{ errors.first('street_name') }}</div>
                                    </div>
                                    <div class="form-group col-3">
                                        <label class="form-label" for="street_type">Street Type<span class="form-required">*</span></label>
                                          <select v-model="details.address.split.street_type" id="street_type" :name="'street_type'" data-vv-as="Street Type" v-validate="''" :class="{'form-control': true, 'is-invalid': errors.has('street_type'), 'is-valid': isValid('details.address.split.street_type') }">
                                            <option value="">--- Select ---</option>
                                            <option 
                                                v-for="(type, index) in config.streetTypes" 
                                                :value="type.abbr" 
                                                :key="index" 
                                            >{{ type.name }}</option>
                                          </select>
                                        
                                        <div v-show="errors.has('street_type')" class="invalid-feedback">{{ errors.first('street_type') }}</div>
                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="form-group col mb-0">
                                        <label class="form-label" for="suburb">Suburb<span class="form-required">*</span></label>
                                        <input type="text" v-model="details.address.split.suburb" id="suburb" :name="'suburb'" placeholder="" data-vv-as="Suburb" v-validate="'required'" :class="{'form-control': true, 'is-invalid': errors.has('suburb'), 'is-valid': isValid('details.address.split.suburb') }">
                                        <div v-show="errors.has('suburb')" class="invalid-feedback">{{ errors.first('suburb') }}</div>
                                    </div>
                                    <div class="form-group col-3 mb-0">
                                        <label class="form-label" for="state">State<span class="form-required">*</span></label>
                                        <select v-model="details.address.split.state" id="state" :name="'state'" data-vv-as="State" v-validate="'required'" :class="{'form-control': true, 'is-invalid': errors.has('state'), 'is-valid': isValid('details.address.split.state') }">
                                            <option value="">--- Select ---</option>
                                            <option 
                                                v-for="(state, index) in config.states" 
                                                :value="state.abbreviation" 
                                                :key="index" 
                                            >{{ state.name }}</option>
                                          </select>
                                        <div v-show="errors.has('state')" class="invalid-feedback">{{ errors.first('state') }}</div>
                                    </div>
                                    <div class="form-group col-3 mb-0">
                                        <label class="form-label" for="postcode">Postcode<span class="form-required">*</span></label>
                                        <input type="text" v-model="details.address.split.postcode" id="postcode" :name="'postcode'" placeholder="" data-vv-as="Postcode" v-validate="'required'" :class="{'form-control': true, 'is-invalid': errors.has('postcode'), 'is-valid': isValid('details.address.split.postcode') }">
                                        <div v-show="errors.has('postcode')" class="invalid-feedback">{{ errors.first('postcode') }}</div>
                                    </div>
                                </div>
                                   
                                    
                            </section>
                            <!-- <div v-show="errors.has('address')" class="invalid-feedback invalid-feedback-override">{{ errors.first('address') }}</div> -->
    
                            
                        </div>
    
                        
    
                    </div>
                    
                    


                </fieldset>
    
            </div>
        </section>
       
    </div>
</template>


<script>
    import Turbolinks from 'turbolinks';
    import swal from 'sweetalert2';
    import moment from 'moment';
    import flatPickr from 'vue-flatpickr-component';

    import { Validator } from "vee-validate";
    import { VueAutosuggest } from 'vue-autosuggest';
    import { CollapseTransition } from 'vue2-transitions';

    import { HOLIDAYS } from '../../constants/PublicHolidays';
    import { STREET_TYPES } from '../../constants/StreetTypes';
    import { STATES } from '../../constants/States';
    import bugsnagClient from './../../bugsnag';

    const publicHolidays = HOLIDAYS;
    const streetTypes = STREET_TYPES;
    const states = STATES;
   
    let minConnectionDate = () => {
        let now = moment();
        if (now.isAfter('12', 'hour')) {
            return now.add(1, 'day').format('YYYY-MM-DD');
        }
        return now.format('YYYY-MM-DD');
    };
    
    let disabledConnectionDates = theDate => {
        let date = moment(theDate);
        if (date.day() === 0 || date.day() === 6) {
            return true;
        }
        return publicHolidays.every(function(element, index, array) {
            return moment(element).isSame(date, 'day');
        });
    
    
    }

    let timeout;
    
    export default {
        inject: ['$validator'],

        props: [
            'dataAppTypes',
            'dataPropertyManagers',
            'dataBusinessAbn', 
            'dataBusinessName'
        ],

        components: {
            flatPickr,
            VueAutosuggest,
            CollapseTransition
        },
        
        data() {
            return {
                details: {
                    application_type_id: "",
                    renter: "",
                    connection_date: "",
                    notes: "",
                    agent_id: "",
                    address: {
                        full: "",
                        moniker: "",
                        split: {
                            property_type: "",
                            unit_number: "",
                            street_number: "",
                            street_name: "",
                            street_type: "",
                            suburb: "",
                            postcode: "",
                            state: "",
                            dpid: ""
                        },
                    },
                    business: {
                        name: "",
                        abn: "",
                    }
                },
                config: {
                    connection_date: {
                        wrap: true, // set wrap to true only when using 'input-group'
                        altFormat: 'd / m / Y',
                        altInput: true,
                        dateFormat: 'Y-m-d',
                        minDate: minConnectionDate(),
                        //disable: [disabledConnectionDates],
                    },
                    enterAddressManually: false,
                    addressList: [],
                    property_managers: [],
                    streetTypes: [],
                    states: [],
                },
            };
        },
    
        created: function() {
            if (this.dataPropertyManagers) {
                this.config.property_managers = this.dataPropertyManagers;
                this.details.agent_id = window.App.user.agent_id;
            }
            if (this.dataBusinessAbn) {
                this.details.business.abn = this.dataBusinessAbn;
            }
            if (this.dataBusinessName) {
                this.details.business.name = this.dataBusinessName;
            }    
            if (streetTypes) {
                this.config.streetTypes = streetTypes;
            }    
            if (states) {
                this.config.states = states;
            }    
        },
    
        //  computed: {
        //     // The `mapFields` function takes an array of
        //     // field names and generates corresponding
        //     // computed properties with getter and setter
        //     // functions for accessing the Vuex store.
        //     ...mapFields([
        //         'application.details.application_type_id',
        //         'application.details.renter',
        //     ]),
        // },

        
        watch: {
            details: {
                handler(){
                    this.onInput()
                },
                deep: true
            }
        },

        methods: {
            onInput() {
                console.log('Emitting details', this.details)
                this.$emit('update-details', this.details)
            },
    
            toggleAddressEntryMethod() {
                this.config.enterAddressManually = !this.config.enterAddressManually;
            },

            onInputChange(text, oldText) {
                clearTimeout(this.timeout);
                this.timeout = setTimeout(() => {
                    return axios.get("/api/v1/validate/address", {
                            params: {
                                value: text
                            }
                        })
                        .then(response => {
                            this.config.addressList = [{
                                'data': response.data.results
                            }];
                        })
                        .catch(error => {
                            console.error(error);
                        });
                }, 300);
            },
            getSuggestionValue(suggestion) {
                return suggestion.item.address;
            },
            renderSuggestion(suggestion) {
                return suggestion.item.address;
            },
            autoCompleteSelectHandler(selectedItem, originalInput) {
                //console.log(selectedItem.item, originalInput, this.details.address.address);
                this.details.address.full = selectedItem.item.address;
                this.details.address.moniker = selectedItem.item.addressMoniker;
                
                return axios.post("/api/v1/validate/address/split", {
                        value: this.details.address.moniker
                    })
                    .then(response => {
                        this.details.address.split = response.data.results;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            autoCompleteFetcher(val) {
                //   clearTimeout(this.timeout);
                //   this.timeout = setTimeout(() => {
                //     const photosPromise = axios.get(this.photosUrl);
                //     const usersPromise = axios.get(this.usersUrl);
    
                //     Promise.all([photosPromise, usersPromise]).then(values => {
                //       this.suggestions = [];
                //       this.selected = null;
    
                //       const photos = this.filterResults(values[0].data, val, "title");
                //       const users = this.filterResults(values[1].data, val, "name");
    
                //       users.length &&
                //         this.suggestions.push({ name: "destinations", data: users });
                //       photos.length &&
                //         this.suggestions.push({ name: "hotels", data: photos });
                //     });
                //   }, this.debounceMilliseconds);
            },

            isValid(field) {
                return (this.fields[field] && this.fields[field].valid && this.fields[field].validated && !this.fields[field].untouched);
            },
            isPending(field) {
                return (this.fields[field] && this.fields[field].pending);
            }
      
        }
    }
</script>

