<template>
    <div>
        
        <a 
            :href="route('rewardsportal')" 
            class="btn btn-sm btn-dark text-left" 
            style="min-width: 4rem" 
            v-if="pending && (visibility.property_manager === true || visibility.real_estate_agency === true)"
        >
            <i class="fe fe-star text-yellow"></i> <i class="fe fe-loader fe-spin text-white"></i> 
        </a>
    
        <a 
            :href="route('rewardsportal')" 
            class="btn btn-sm btn-dark" 
            v-if="points.property_manager_balance !== null && !pending && visibility.property_manager === true"
        >
            <i class="fe fe-star text-yellow"></i> {{ points.property_manager_balance | currency('', 0) }}
        </a>
        <a 
            :href="route('rewardsportal')" 
            class="btn btn-sm btn-dark ml-2" 
            v-if="points.real_estate_agency_balance !== null && !pending &&  visibility.real_estate_agency === true"
        >
            <i class="fe fe-briefcase text-yellow"></i> {{ points.real_estate_agency_balance | currency('', 0) }}
        </a>
    </div>
</template>


<script>
    import axios from 'axios';

    export default {

        props: [
            'dataRewardsVisibility'
        ],

        data: function() {
            return {
                points: {
                    property_manager_balance: null,
                    real_estate_agency_balance: null
                },
                visibility: {
                    property_manager: true,
                    real_estate_agency: true
                },
                pending: true
            }
        },
        
        created() {
             if (this.dataHasRewards) {
                this.visibility = this.dataRewardsVisibility;
            }

            const localData = this.$storage.get('agentPoints', false);
            if(localData) {
                this.points = localData;
                this.pending = false;
            } else {
                axios.get(route('api.v1.agent.points.balance'))
                        .then((response) => {
                            if(response.status) {
                                this.points = response.data;
                                this.$storage.set('agentPoints', this.points, { ttl: 60 * 1000 });
                            }
                            this.pending = false;
                        })
                        .catch((error) => {
                            console.error(error);
                        });
            }
        }
    }
</script>
