<template>
    <div>
        <vue-frappe
            id="test"
            type="heatmap"
            :height="300"
            :colors="['#FFE4B5', '#FFD700', '#FF4500', '#FF0000', '#DC143C']"
            :dataPoints="this.data"
            :startDate="new Date(1532823200000)"
            :endDate="new Date(1538674400000)"
            :countLabel="'Applications'"
        >
        </vue-frappe>
        
    </div>
</template>


<script>
    import axios from 'axios';

    export default {
        props: ['initialData'],

        data: function() {
            return {
                points: {
                    property_manager: null,
                    real_estate_agency: null
                },
                pending: true,
                 
                data: this.initialData
            
            }
        },
        
        created() {
            // const localData = this.$storage.get('agentPoints', false);
            // if(localData) {
            //     this.points = localData;
            //     this.pending = false;
            // } else {
                axios.get(route('api.v1.agent.points.history'))
                        .then((response) => {
                            if(response.status) {
                                this.points = response.data;
                                this.$storage.set('agentPoints', this.points, { ttl: 60 * 1000 });
                            }
                            this.pending = false;
                            console.log(response);
                        })
                        .catch((error) => {
                            console.error(error);
                        });
           // }

        },

       
    }
</script>
